body{
	height: 100%;
        background-color: #EAF2F8;
}
#main{
	height: 100%;
}

.mauto{
	margin: auto
}

.margintop10{
	/*margin-top: 10%*/
}

td,th{
	border:1px solid #DDD;
}

.hide{
	display: none;
}

.pointer{
	cursor: pointer;
}

.mdl-data-table__cell--non-numeric{
    min-width: 205px;
    max-width: 225px;
    
}

.mdl-data-table td{
	padding: 0px 8px;
}
.mdl-data-table th{
	padding: 0px 8px;
}

.fr{
	float: right;
}
.width0{
	display: none !important;
}
.mtl2{
	margin-top: 2px;
	margin-left: 6px
}

.tacenter{
	text-align: center !important;
}

.lgrey{
	background-color: #EEE !important;
}
.lgreyhover{
    background-color: #EEE;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 0px;
}
.mdl-data-table th:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 0px;
}

.mdl-data-table tbody tr {
    height: 40px;
    line-height: 13px;
}

.mdl-data-table td {
    height: 40px;
}
.mdl-data-table th {
    height: 40px;
}

.color888{
	color: #888
}

.paperError{
	    width: 178px;
    min-height: 30px;
    position: absolute;
    left: 10px;
    z-index: 1;
    top: 40px;
    border-radius: 2px !important;
    word-wrap: break-word;
    white-space: initial;
    text-align: center;
    border: 1px solid red;
}

.abstext {
    color: #EA4747;
    font-size: 14px;
    margin-bottom: 0 !important;
}

.jsonmodal{
	width: 500px !important;
	height: 360px !important;
}
.ml5{
	margin-left: 5px;
}
.previewImage{
	width: 100px;
    height: 100px;
    width: 400px;
    height: 223px;
    margin-left: 15px;
    margin-top: 10px;
    border: 2px solid #DEDEDE;
    border-radius: 3px;
}
.previewlistimages{
	width: 28px;
    height: 28px;
    margin-top: -8px;
}
.dropFile{
	    width: 200px;
    height: 225px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
    float: left;
    padding: 30px;
    margin-top: 10px;
    margin-left: 6%;
}

.clearboth{
	clear: both;
}
.mt10{
	margin-top: 10px
}
.previewSmallImage{
	width: 30px;
	height: 30px;
	margin-left:15px; 
}

#dataHeader{
	height: 70px;
    background-color: #158AE5;
}

#dataSubHeader{
	height: 50px;
    background-color: #5BAEED;
    /* padding: 0px; */
    padding-top: 3px;
}

#datatable{
	    min-height: 80%;
    width: 100%;
    overflow-x: scroll;
}
#reactmain{
	height: 100%
}
.appname{
	margin: auto;
    text-align: center;
    color: white;
    font-size: 22px;
    padding-top: 8px;
}
.subhbtn{
	    height: 37px;
    margin-top: 4px;
    margin-left: 1px;
    border-radius: 2px;
    background-color: #DEEFFB;
    padding-top: 8px;
}

.subhbtn,.subhbtn:hover,.subhbtn:active,.subhbtn::selection{
    height: 37px;
    margin-top: 4px;
    margin-left: 1px;
    border-radius: 2px;
    background-color: #DEEFFB;
}

.subhbtnpop{
	height: 37px;
    margin-top: 4px;
    margin-left: 1px;
    border-radius: 2px;
    background-color: #DEEFFB;
    width: 220px
}
.ml5{
	margin-left: 5px !important;
}
.mr2{
	margin-right: 2px
}
.popupshowhideleft{
	width: 85px;
    height: 33px;
    margin-top: 6px;
    margin-left: 19px;
    background-color: white;
    border: 1px solid #DDD;
    margin-bottom: 10px
}
.popupshowhideright{
	width: 85px;
    background-color: white;
    border: 1px solid #DDD;
    height: 33px;
    margin-top: 6px;
    margin-left: 14px;
    margin-bottom: 10px
}

.popuphidecol{
	width: 220px !important;
	background-color: white;
}
.checkselect{
	margin-top: 6px !important;
    float: left !important;
    margin-right: 3px !important;
}
.parapop{
	margin-left: 20px !important;
    padding: 0px;
    margin: 0;
    margin-top: 2px !important;
}
.pb7{
	padding-bottom: 7px !important;
}
.searchheading{
    float: right;
    font-size: 23px !important;
    color: white;
    margin-top: 9px;
    margin-right: 12px;
}
.userLogoheadng{
    float: right;
    font-size: 30px !important;
    color: white;
    margin-top: -20px;
    margin-right: 12px;
}
.userHelpheadng{
        float: right;
    font-size: 15px !important;
    color: white;
    margin-top: -17px;
    margin-right: 12px;
    height: 30px;
    width: 30px;
    text-align: center;
        background-color: rgba(255, 255, 255, 0.79) !important;
}
.logoCB{
    float: left;
    width: 28px;
    margin-left: 6px;
    margin-top: 6px;
}

.checkStyle{
    float: left !important;
    margin-left: -11px !important;
}
.plusrow{
    float: left;
    margin-left: 18px;
}
.tdplus{
    padding-right: 0px !important;
}
.mlm11{
    margin-left: -11px;
        margin-bottom: 6px;
}
.popupfilterrrow{
    width: 600px !important;
    background-color: white;
    min-height: 150px;
}
.selectfilter{
    float: left;
    width: 110px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #EEE;
}
.filterrow{
        padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-top: 0px;
    height: 31px;

}
.addfilter{
        width: 400px;
    height: 27px;
    margin-left: 15%;
    border: 1px solid #DDD;
    line-height: 1px;
}
.inputfilter{
    float: left;
    width: 220px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #EEE;
}
.filterclose{
        font-size: 22px !important;
    margin-top: 2px;
    cursor: pointer;
    margin-right: 14px;
    float: left;
}
.boolfilter{
    height: 20px !important;
}
.listfilterrows{
    float: left;
    display: inline;
    width: 222px !important;
}
.listfilteradd{
    float: left;
    font-size: 18px !important;
    margin-left: 4px;
    margin-top: 6px;
    cursor: pointer;
}
.inputfilterlist{
    float: left;
    width: 200px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #EEE;
}
.inputfilterlistValues{
    margin-left: 3px;
    margin-bottom: 0px;
    width: 199px !important;
    float: left;
}
.divadditionallist{

}
.minuslist{
    float: left;
    /* font-size: 14px !important; */
    margin-top: 6px;
    margin-left: 6px;
    cursor: pointer;
}
.listtexttableinput{
        width: 90%;
    padding: 4px;
    margin-top: 5px;
    margin-left: 2%;
    border: 2px solid #D4D4D4;
    border-radius: 4px;
    background-color: white;
}
.addtextrecord{
    width: 483px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 2px;
    height: 30px;
    background: #FFFFFF;
    color: #3E3B3B;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.14);
    border: 1px solid #ECEAEA;
    margin-left: 18px;
}
.trashlistinputtext{
    margin-left: 5px;
    font-size: 20px !important;
    cursor: pointer;
}
.fileListPreveiew{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.fileListPreveiew:hover{
    border: 3px solid #158AE5;
}
.savecanclist{
    float: right;
    width: 100%;
    margin-top: 20px;
}
.deletefilelist{
        float: left;
    margin-left: -150px;
    width: 150px;
    background-color: rgba(247, 58, 58, 0.84);
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    border: 1px solid rgba(247, 58, 58, 0.84);
}
.dropFileList{
        width: 483px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 2px;
    height: 30px;
    background: #FFFFFF;
    color: #3E3B3B;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.14);
    border: 1px solid #ECEAEA;
    margin-left: 18px;
    cursor: pointer;
}
.attahcmentfile{
    font-size: 23px !important;
    margin-left: 24%;
    float: left;
    margin-top: 2px;

}
.attahctext{
   font-size: 17px;
    margin-top: 4px;
    float: left;
    margin-left: 15px;

}
.datetimelist{
    width: 90%;
    padding: 4px;
    margin-top: 5px;
    margin-left: 2%;
    border: 2px solid #D4D4D4;
    border-radius: 4px;
    background-color: white;
}
.datedeletebt{
    float: right;
    margin-top: -20px;
    font-size: 20px !important;
    margin-right: -25px;
    cursor: pointer;
}
.dateml{
    margin-left: 10px;
    cursor: pointer;
}
.cp{
    cursor: pointer !important;
}
.popupsearchcol{
    width: 285px !important;
    background-color: white;
    height: 35px;
}
.searchinputpop{
        width: 245px;
    height: 27px;
    margin-top: 4px;
    margin-left: 3px;
    border: 1px solid #DDD;
    padding: 5px;
    float: left;
}
.searchclose{
    font-size: 20px !important;
    margin-left: 10px;
    margin-top: 7px;
    color: #807777;
    float: left;
}
.headertablecrud{
    height: 25px;
    background-color: #5BAEED;
    margin-top: 13px;
    position: absolute;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 98%;
    overflow-y: hidden;
}
.tableselected{
    height: 100%;
    min-width: 110px;
    /* max-width: 200px; */
    /* float: left; */
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.tablenotselected{
        height: 100%;
    min-width: 110px;
    /*max-width: 200px;*/
    background-color: #C4E2F9;
    /* float: left; */
    margin-left: 1px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.white{
    color: white
}
.tableadd{
    height: 100%;
    width: 30px;
    background-color: #C4E2F9;
    /* float: left; */
    margin-left: 1px;
    display: inline-block;
}
.addicoontable{
    margin-left: 9px;
    margin-top: 5px;
}
.popupaddtable{
    width: 200px !important;
    height: 120px;
    border-radius: 5px !important;
    background-color: #f3faff !important;
}
.inputaddtable{
        width: 90%;
    height: 32px;
    margin-top: 5px;
    margin-left: 5%;
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 7px;
    margin-bottom: 4px;

}
.inputaddtable:focus{
    outline: none;
}
.addtablebutton{
    width: 90%;
    height: 28px;
    margin-left: 5%;
    color: #313131;
    background-color: #ffffff;
    border: 1px solid #dedede;
}
.addtablebutton:hover{
    background-color: #EEE;
}
.popupdeletetable{
   width: 150px !important;
    background-color: white;
    height: 33px;
}
.deletetablebtn{
        width: 100%;
    border: 0px solid #EEE;
    height: 33px;
    background-color: #FFFFFF;
    color: #3E3838;
    margin-top: 0px;
    text-align: left;
    padding-left: 10px;
}
.deletetablebtn:hover{
    background-color: #EEE;
}
.addcolumns{
    font-size: 15px !important;
    min-width: 205px;
    max-width: 225px;
}
.mdl-data-table th {
   min-width: 205px;
    max-width: 225px;
}

.tdtrcheck{
    min-width: 50px !important;
}
.mr12{
    margin-right: 12px
}
.tdtrcheck:hover{
    background-color: #EEE;
    cursor: pointer;
}
.popupaddcolumns{
    width: 225px !important;
    background-color: white;
    min-height: 200px;
    background-color: #F9F7F7 !important;
}
.addcoldiv{
    width: 100%;
    /* min-height: 80%; */
    min-height: 170px;
    float: left;
    background-color: #F7FAFB;
}
.addcolinput{
    width: 96%;
    height: 30px;
    border: 1px solid #DDD;
    margin-left: 2%;
    border-radius: 0px;
    padding: 5px;
}
.addcol{
    height: 25px;
    color: #158AE5 !important;
    background-color: #FFFFFF !important;
    border: 2px solid #158AE5 !important;
    font-weight: bold;
    border-radius: 1px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    margin-left: 15%;
    margin-right: 3px;
    margin-bottom: 4px;
    width: 96%;
    margin-left: 2%;
}
.delcol{
       width: 47%;
    height: 25px;
    color: rgba(236, 13, 13, 0.64) !important;
    background-color: rgba(255, 255, 255, 0.64) !important;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid rgba(236, 13, 13, 0.64);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
}
.addcolselect{
    width: 96%;
    height: 35px;
    border: 1px solid #DDD;
    margin-left: 2%;
    border-radius: 1px;
    background-color: white;
    padding: 5px;
}
.paddcolumns{
    height: 5px;
    margin-top: 4px;
    font-size: 12px;
    margin-left: 6px;
    color: #404040;
    margin-bottom: 16px;
    font-weight: bold;
}

.paddcolumnsfl{
        float: left;
    margin-left: 9px;
    margin-top: 10px;
    margin-right: 4px;
}
.paddcolumnsfr{
   float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 0px;
}
.checkStyleaddcolfl{
    float: left;
    width: 18% !important;
    margin-top: 10px;
}
.checkStyleaddcolfr{
    float: left;
    width: 18% !important;
    margin-left: -14px;
    margin-top: 10px;
}
.mr10{
    margin-right: 10px;
}
.relationselectordiv{
    min-height: 250px;
    max-height: 390px;
    /* overflow-y: auto; */
    /* width: 100%; */
    overflow-y: auto;
}
.searchrelation{
       width: 100%;
    height: 35px;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 5px;
}
.tabledatadiv{
        margin-top: 5px;
    background-color: white;
    float: left;
    border-radius: 1px;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    border: 1px solid #EEE;
    padding-top: 6px;
    padding-bottom: 0px;
}
.tabledatadiv:hover{
    background-color: #EEE;
}
.idrelationslector{
        font-size: 20px !important;
    color: black;
}
.createdatrelationslector{
    float: left;
    margin-right: 32px; 
}
.updatedatrelationslector{
    float: left;
    margin-right: 32px;
}
.cancelselctrela{
        float: right;
    width: 100%;
    margin-top: 8px;
}
.textRaltion{
    float: left;
    width: 100%;
    height: 38px;
    margin-top: 35px;
}
.textnamerlation{
   float: left;
    margin-top: -24px;
    color: #949494;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 0px;
}
.textinputrltion{
        float: left;
    border: 1px solid #D5D7D9;
    width: 90%;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
    background-color: white;
}
.aclrow{
    width: 100%;
    float: left;
    height: 45px;
    border-bottom: 1px solid #CCC;
    padding: 10px;
    background-color: #F9F9F9;
}
.logoaclrow{
    font-size: 20px !important;
    margin-top: 2px;
    float: left;
}
.textaclrow{
    float: left;
    font-size: 15px;
    margin-left: 20px;
}
.aclrowcheckbox{
    float: right;
    width: 40px !important;
}
.readwitetext{
    float: right;
    margin-left: 0px;
    margin-right: 10px;
}
.cancelaclrow{
    float: right;
    font-size: 20px !important;
    margin-top: 1px;
    margin-left: 9%;
    cursor: pointer;
    margin-right: 7px;
}
.selectautoacl{
        /* text-align: center; */
    float: left;
    /* margin-left: 64%; */
    width: 150% !important;
}
.aclrowpublic{
       width: 100%;
    float: left;
    height: 45px;
    border-bottom: 3px solid #CCC;
    padding: 10px;
    background-color: #F9F9F9;
    font-weight: bold;
}
.mr92{
        margin-right: 92px;
}
.halfreldiv{
    float: left;
    border: 1px solid #D8D8D8;
    height: 30px;
    border-radius: 2px;
    width: 43%;
    float: left;
    margin-top: 35px;
    margin-right: 4%;
}
.relationrowcheckbox{
    float: left;
    width: 31px !important;
    margin-left: 43%;
    margin-top: 1px;
}
.filerle{
        margin-right: 20px;
    margin-top: 5px;
}
.textnamerlationrle{
    float: left;
    margin-top: -34px;
    color: #949494;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: -10px;
}
.listrelationdiv{
        width: 90%;
    min-height: 44px;
    float: left;
    border: 1px solid #DDD;
    margin-top: 35px;
    margin-right: 5%;
    border-radius: 2px;
    padding: 10px;
}
.listrelationdivacl{
        width: 90%;
    min-height: 42px;
    float: left;
    border: 1px solid #DDD;
    margin-top: 19px;
    margin-right: 5%;
    border-radius: 2px;
    padding: 10px;
     background-color: white;
}
.buttonlstrelation{
    width: 86%;
    margin-left: 7%;
    height: 69%;
    margin-top: 9px;
    color: black;
    background-color: #E0E6EA;
    border: 0;
    font-size: 20px;
}
.buttonlstrelationacl{
    width: 30%;
    margin-left: 70%;
    /* height: 62%; */
    margin-top: -15px;
    color: white;
    background-color: rgba(21, 138, 229, 0.75);
    border: 1px solid rgba(21, 138, 229, 0.68);
    font-size: 19px;
    height: 33px;
    float: left;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
}
.listdivrel{
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 10px;
    padding-left: 3px;
}
.halfreldivfile{
       width: 90%;
    min-height: 100px;
    float: left;
    border: 1px solid #DDD;
    margin-top: 35px;
    margin-right: 5%;
    position: relative;
}
.previewSmallImagerelation{
    width: 200px;
    height: 160px;
    margin-bottom: 10px;
    margin-top: 7px;
}
.filepickerotherrelation{
    color: white !important;
    background-color: #158AE5 !important;
        margin-top: 8px;
    margin-bottom: 10px;
}
.spanrelcustom{
       /* color: black; */
    margin-left: 9px;
    float: left;
    margin-top: 3px;
}
.overlayrelation{
    opacity: 0 !important;
    transition: none !important;
}
.tsnnone{
    transition: none !important;
}
.relationtextrlation{
    color: #888;
    font-size: 20px;
}
.relationchangerelaion{
    width: 26%;
    margin-top: 11px;
    margin-right: 10px;
    color: white;
    background-color: rgba(21, 138, 229, 0.75);
    border: 1px solid rgba(21, 138, 229, 0.68);
    font-size: 19px;
    height: 33px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.44);
}
.modaltitle{
        background-color: #158AE5;
    color: white !important;
    /* padding-bottom: 18px !important; */
    margin-bottom: 4px !important;
}
.btn-danger,.btn-danger:active,.btn-danger::selection {
    color: rgba(236, 13, 13, 0.64) !important;
    background-color: rgba(255, 255, 255, 0.64) !important;
    width: 100px;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid rgba(236, 13, 13, 0.64);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    transition: background-color ease 0.2s , color ease 0.2s;
}
.btn-danger:hover {
    color: white !important;
    background-color: rgba(236, 13, 13, 0.64) !important;
    border: 2px solid rgb(243, 100, 100) !important
}

.btn-success,.btn-success:active,.btn-success::selection {
    color: #5cb85c !important;
    background-color: rgba(255, 255, 255, 0.64) !important;
    width: 100px;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid #5cb85c;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
transition: background-color ease 0.2s , color ease 0.2s;
}

.btn-success:hover {
    color: white !important;
    background-color: #5cb85c !important;
}

.btn-primary,.btn-primary:active,.btn-primary::selection{
    color: #158AE5 !important;
    background-color: rgba(255, 255, 255, 0.64) !important;
    border: 2px solid #158AE5 !important;
    width: 100px;
    font-weight: bold;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
transition: background-color ease 0.2s , color ease 0.2s;
}

.btn-primary:hover {
    color: white !important;
    background-color: #158AE5 !important;
}

.btn-orange,.btn-orange:hover,.btn-orange:active,.btn-orange::selection{
        color: #fff !important;
    background-color: rgba(255, 85, 0, 0.78) !important;
    border-color: rgba(255, 85, 0, 0.84) !important;
    width: 104px;
    font-weight: bold;
    border-radius: 1px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    margin-right: 4px;
}
.btn-success,.btn-suserlogoimageuccess:hover,.btn-success:active,.btn-success::selection{
    width: 100px;
}
.taleft{
    text-align: left !important;
}
.colicon{
    font-size: 15px !important;
    margin-right: 5px;
}
.colname{
    font-size: 12px;

}
.addnewrow:hover{
    background-color: black;
    cursor: pointer;
}
.secondayoverlap{
    position: absolute;
    top: 120px;
    left: 0;
     box-shadow: none !important; 
    /*box-shadow: 0 0px 0px 0 rgba(0,0,0,.14),0 0px 0px -2px rgba(0,0,0,.2),0 0px 0px 0 rgba(0,0,0,.12);*/
    border-right: 2px solid #5BAEED;
}
.addcolthbtn{
    position: absolute !important;
    padding: 8px !important;
    -webkit-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
    margin-top: -1px !important;
    margin-left: -1px !important;
    /* border-left: 0 !important; */
    background-color: white;
}
.hiddencolbtn{
    position: absolute !important;
    margin-left: 350px !important;
    background-color: #eaf2f8;
    box-shadow: none !important;
    border: none;
}
.tdselected{
    border: 2px solid #5BAEED !important;
    background-color: #EBF7FF;
}
.columnpop{
    width: 220px !important;
    min-height: 100px !important;
    border-radius: 5px !important;
    background-color: #f3faff !important;
}
.profilepop{
    min-width: 220px !important;
    min-height: 100px !important;
    border-radius: 5px !important;
    background-color: #f3faff !important;
    margin-top: 15px;
    overflow: visible !important;
}
.profilepop > div {
    overflow: visible !important;
}

.profilepoparrow{
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    border-radius: 3px;
    width: 24px;
}

.headingpop{
    height: 40px;
    padding: 7px;
    border-bottom: 2px solid #eaf2f8;
    color: #158ae5;
    font-weight: 600;
    margin-bottom: 0px;
    padding-left: 12px;
    background-color: white;
    font-size: 13px;
}
.coloptbtn{
        width: 100%;
    border: 0px solid #EEE;
    height: 35px;
    background-color: #FFFFFF;
    color: #3E3838;
    margin-top: 0px;
    text-align: left;
    padding-left: 12px;
}
.coloptbtn:hover{
    background-color: #EEE;
}
.savebtneditablecol{
    width: 100%;
    height: 32px;
    margin-top: 8px;
    border: 0;
    color: white;
    background-color: #5BAEED;
}
.checkeditcol{
    padding: 1px;
    margin-top: 0px;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric:hover{
    border: 2px solid #5BAEED !important;
    background-color: #EBF7FF;
}
.clickedCell{
    border: 2px solid #5BAEED !important;
    background-color: #EBF7FF;
}
.booleanlistval{
    float: left;
    width: 75% !important;
    padding-left: 49px;
}
.boollistel{
        float: left;
    margin-left: 20px;
}
.listdivscontent{
    /*min-height: 200px;*/
    max-height: 350px;
    overflow-y: auto;
    /*background-color: #F3F5F7;*/
    border-radius: 5px;
    padding: 8px;
}
.badgelistcount{
    position: relative;
    /* display: inline-block; */
    padding: 0px !important;
    float: left !important;
    margin-left: 25px !important;
    margin-top: -6px !important;
}
.entriesbadgeright{
    margin-left: 38px;
    float: left;
    margin-top: -1px;
}
.errorsigntd{
    font-size: 15px;
    /* margin-left: -7px; */
    margin-right: 9px;
    color: #CAA20A;
}
.zi10{
        z-index: 10;
}
.linaerprogfile{
    height: 9px !important;
    margin-top: 12px !important;
}
.pprogresslineaer{
        font-size: 20px;
    margin-top: 20px;
    color: #312D2D;
    float: left;
}
.pprogresslineaer99{
        font-size: 20px;
    float: right;
    color: #0D5186;
    font-weight: bold;
}
#loader{
    position: absolute;
    left: 48%;
    top: 50%;
}
.mdl-spinner {
    display: inline-block;
    position: relative;
    width: 40px !important;
    height: 40px !important;
}
.Choosefilebtn{
        width: 100%;
    margin-top: 15%;
    border: 1px solid #158AE5;
    height: 30px;
    color: white;
    background-color: #158AE5;
}
.geodiv{

}
.latdiv{
    width: 100%;
    float: left;
    border: 1px solid #DACFCF;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;
}
.londiv{
    margin-top: 3px;
    width: 100%;
    float: left;
    border: 1px solid #DACFCF;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;
    margin-bottom: 10px;
}
.ptaglatlong{
    width: 50%;
    float: left;
    height: 100%;
    margin-left: 12px;
    margin-top: -13px;
}
.headinlatlon{
    width: 100%;
    float: left;
    color: black;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 6px;
}
.textfiledgeo{
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    margin-bottom: 15px;
}
.disinb{
    display: inline-block;
}
.padleftright0{
        padding-left: 0px !important;
    padding-right: 0px !important;
}
.texttypetdinput{
    height: 39px !important;
    border-radius: 0px !important;
}
.booleantdcheck{
    cursor: pointer;
    position: relative;
    overflow: visible;
    display: table;
    height: auto;
    width: 20% !important;
    margin-left: 40% !important;
}
.addnewtablep{
    font-size: 17px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 4px;
}
.dasbardlikarrow{
    float: left;
    color: white;
    /* font-weight: bold; */
    font-size: 23px !important;
    margin-left: 7px;
    position: absolute;
    margin-top: 8px;
}
.dasboardlink{
    float: left;
    color: white;
    /* font-weight: bold; */
    font-size: 18px !important;
    margin-left: 33px;
    position: absolute;
    margin-top: 11px;
    font-weight: bold;
}
.applyfiler{
        width: 100px;
    color: #158AE5 !important;
    background-color: #FFFFFF !important;
    border-color: #158AE5 !important;
    font-weight: bold;
    border-radius: 1px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    margin-left: 31%;
    border: 1px solid #158AE5 !important;
    font-size: 12px;

}
.clearfilter{
    width: 100px;
    color: rgba(236, 13, 13, 0.64) !important;
    background-color: rgba(255, 255, 255, 0.64) !important;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid rgba(236, 13, 13, 0.64);
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.47);
    margin-left: 3px;
    font-size: 12px;
}
.filterbutton{
    float: left;
    width: 100%;
    margin-bottom: 7px;
}
.filterrowdiv{
    float: left;
    width: 100%;
    min-height: 80px;
    padding-bottom: 10px;
}
.morerowsbtn{
    position: fixed;
    bottom: 5%;
    left: 45%;
    opacity: 0.6;
}
.morerowsbtn:hover{
    opacity: 1;
}

.headertablecrud::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.headertablecrud::-webkit-scrollbar
{
    width: 0px;
    background-color: #F5F5F5;
    height: 4px;
}

.headertablecrud::-webkit-scrollbar-thumb
{
    background-color: #1167A9;
}
.userlogoimage{
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -23px;
    margin-right: 12px;
    border-radius: 50%;
    padding: 0px;
}
.aclrealexpand{
        float: right;
    cursor: pointer;
}
.requiredred{
        border: 2px solid rgb(202, 162, 10) !important;
    background-color: rgba(255, 0, 0, 0.03) !important;
}
.testdt{
    /*border: 0px solid white !important;*/
}

.relreladd{
        margin-right: 12px;
    margin-top: 3px;
}
.relrelexp{
        margin-top: 2px;
}
.imagewrapperfile{
    position: absolute;
    width: 400px;
    height: 222px;
    border: 1px solid black;
    left: 283px;
    top: 90px;
    background-color: black;
    opacity: 0.5;
    z-index: 20;
}
.filewrapperdownload{
        color: white;
    font-size: 60px !important;
    margin-left: 30%;
    margin-top: 20%;
}
.filewrapperdelete{
        color: #E02222;
    font-size: 77px !important;
    margin-left: 5%;
}
.filerelwrapperedit{
    color: #FFFFFF;
    font-size: 77px !important;
    margin-left: 35%;
    margin-top: 13%;
}
.imagewrapperfilerel{
        position: absolute;
    width: 285px;
    height: 165px;
    border: 1px solid black;
    left: 181px;
    top: 5px;
    background-color: black;
    opacity: 0.5;
    z-index: 20;
}
.bodyClassNamerel{
    padding-right: 0 !important;
    background-color: #FAFAFA;
}
.bodyClassNameobj{
    padding-left: 0 !important;
}
.mr15{
    margin-right: 15px;
}
.expandCircle{
    padding: 6px;
    border-radius: 50%;
    color: #504E4E;
    background-color: white;
    -webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.75);
    transition: box-shadow ease 0.2s;
}
.expandCircle:hover{
    box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);
}
.expandleftpspan{
    margin-top: 6px;
    float: left;
}
.ace_editor{
        position: relative;
    overflow: hidden;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    direction: ltr;
        width: 100% !important;
    margin-bottom: 10px;
}
.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
    padding-right: 24px !important;
    border-right: 0 !important;
}
.expandiconlist{
        font-size: 17px !important;
}
.bodyClassNamelist{
        width: 600px !important;
}
.contentclassdeletemodal{
    width: 500px !important;
}
.deletemodal{
    background-color: rgba(236, 13, 13, 0.64) !important;
    color: white !important;
    font-weight: bold !important;
}
.deleteconfirmtext{
    float: left;
    font-size: 17px;
    color: black;
    margin-top: 20px;
}
.deleteconfirminput{
    float: left;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border: 2px solid rgba(236, 13, 13, 0.64) !important;
    padding: 5px;
    color: rgba(236, 13, 13, 0.64) !important;
    font-weight: bold;
}
.deleteconfirminput:focus{
    outline: none !important;
    border: 2px solid rgba(236, 13, 13, 0.64) !important;
    color: rgba(236, 13, 13, 0.64) !important;
}
.diadlogTitleText{
    font-weight: bold;
}
.iconmodal{
        float: right;
    padding: 12px;
    /* border: 1px solid; */
    margin-top: -10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.26);
    padding-left: 16px;
    padding-right: 16px;
}
.smallcolicon{
    font-size: 11px !important;
    margin-left: -3px;
}
.relcontent{
    width: 680px !important;
}
.advanceoptionaddcolum,.advanceoptionaddcolum:hover{
     color: #666767;
    text-decoration: underline;
    font-size: 12px;
}
.blur{
    filter: blur(2px);
}
#loaderTop{
    display: inline;
    position: relative;
    float: right;
}
.loadertop{
    margin-right: 15px;
    margin-top: 7px;
}
.loadertop div{
    height: 25px !important;
}

.topnav{
    height: 40px;
    padding: 8px;
    padding-left: 0px;
    padding-right: 0px;
}
.topnavsnav{
    padding: 5px;
    background-color: rgb(88, 176, 245);
    float: left;
    margin-top: -4px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 64px;
}
.topnavsnavselected{
    padding: 5px;
    background-color: #1066aa;
    float: left;
    margin-top: -4px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 64px;
}
.folder{
    float: right;
    width: 38px !important;
    height: 33px !important;
    margin-top: -6px;
    color: #158ae5 !important;
    cursor: pointer;
}
.file{
    float: right;
    width: 38px !important;
    height: 33px !important;
    margin-top: -6px;
    color: #1066aa !important;
    cursor: pointer;
}
.addfiletext{
    float: right;
    margin-top: 2px;
    color: #1066aa !important;
    cursor: pointer;
    font-weight: 600;
}
.content{
    min-height: 300px;
    background-color: #f1f1f1;
    margin-top: 5px;
    padding: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    max-height: 350px;
    overflow-y: scroll;
}
.filediv{
    max-width: 17%;
    min-width: 17%;
    border: 1px solid #dadada;
    min-height: 100px;
    float: left;
    margin-left: 5px;
    text-align: center;
    border-radius: 5px;
    max-height: 120px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding-top: 6px;
    margin-bottom: 5px;
    background-color: white;
}
.filediv:hover{
    border: 2px solid #5BAEED !important;
    background-color: #EBF7FF;
    /*transform: scale(1.05,1.05);*/
}
.devfileicon{
    width: 40px !important;
    height: 40px !important;
    margin-right: 5px;
}
.divfoldericon{
    width: 50px !important;
    height: 50px !important;
    color: #f55151 !important;
}
.divfilename{
    width: 90%;
    display: block;
    overflow: hidden;
    margin-left: 5%;
    font-size: 13px;
    font-weight: 600;
    word-wrap: break-word;
    max-height: 40px;
}
.slash{
    color: #1066aa;
    font-weight: 600;
    font-size: 25px;
    padding: 5px;
}
.filemodal{
    min-height: 200px;
    padding: 20px;
}
.nofilefound{
    width: 100%;
    text-align: center;
}
.fileimage{
    display: block !important;
    font-size: 100px !important;
}
.noimagetext{
        display: block;
    margin-top: 20px;
    color: #797979;
    font-weight: 600;
    margin-bottom: 12px;
}
.filepicker{
    color: white !important;
    background-color: #158AE5 !important;
    margin-bottom: 20px;
}
.filepickerselect{
    color: white !important;
    background-color: #158AE5 !important;
}
.filepickerother{
    float: left;
    color: white !important;
    background-color: #158AE5 !important;
    margin-top: 5%;
    margin-bottom: 20px;
}
.downloadbtn{
    float: left;
    color: white !important;
    background-color: orange !important;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 1%;
        border-color: orange !important;
        margin-bottom: 20px;
}
.downloadbtn:hover{
    float: left;
    color: white !important;
    background-color: orange !important;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 1%;
        border-color: orange !important;
}
.deletebtn{
    float: left;
    color: white !important;
    margin-top: 5%;
    margin-left: 1%;
    background-color: rgba(236, 13, 13, 0.64) !important;
    border-color: #f36464 !important;
    margin-bottom: 20px;
}
.fileimagescr{
    display: block !important;
    font-size: 100px !important;
    width: 200px;
    height: 200px;
    margin-left: 30%;
}
.filenamespan{
    display: block;
    margin-top: 5px;
    font-weight: 600;
    font-size: 15px;
}
.content td{
    border: none !important;
    cursor: pointer;
}
.content tr:hover{
    background-color: #EEE !important;
}
.content th{
    border: none !important;
}
.listilepicker{
        border: 1px solid #ececec;
    height: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #fdfdfd;
    cursor: pointer;
    margin-bottom: 10px;

}
.trash-icon{
    font-size: 23px;
    color: black;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}